<a href="https://colab.research.google.com/github/marzhira/Deeplearning_Practice/blob/main/lemonade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import tensorflow as tf

In [ ]:
lemonade = pd.read_csv('https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv')
lemonade.columns

Index(['온도', '판매량'], dtype='object')

In [ ]:
lemonade_x = lemonade[['온도']]
lemonade_y = lemonade[['판매량']]
lemonade_y

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [ ]:
x = tf.keras.layers.Input(shape= [1])
y = tf.keras.layers.Dense(1)(x)
model = tf.keras.models.Model(x, y)
model.compile(loss='MSE')

In [ ]:
model.fit(lemonade_x, lemonade_y, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 4ms/step - loss: 1.4729e-04
Epoch 2/10
1/1 [==============================] - 0s 11ms/step - loss: 1.4726e-04
Epoch 3/10
1/1 [==============================] - 0s 5ms/step - loss: 1.4719e-04
Epoch 4/10
1/1 [==============================] - 0s 4ms/step - loss: 1.4721e-04
Epoch 5/10
1/1 [==============================] - 0s 5ms/step - loss: 1.4723e-04
Epoch 6/10
1/1 [==============================] - 0s 5ms/step - loss: 1.4727e-04
Epoch 7/10
1/1 [==============================] - 0s 4ms/step - loss: 1.4733e-04
Epoch 8/10
1/1 [==============================] - 0s 6ms/step - loss: 1.4733e-04
Epoch 9/10
1/1 [==============================] - 0s 7ms/step - loss: 1.4735e-04
Epoch 10/10
1/1 [==============================] - 0s 8ms/step - loss: 1.4732e-04

In [ ]:
model.predict(lemonade_x)

array([[39.993954],
       [41.991756],
       [43.989555],
       [45.98736 ],
       [47.98516 ],
       [49.98296 ]], dtype=float32)

In [ ]:
model.predict([[15]])

array([[30.00495]], dtype=float32)